################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Recommendit.API/obj
/Recommendit.API/appsettings.json
/.vs/Recommendit/FileContentIndex
