################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Recommendit.API/obj
/Recommendit.API/bin
/Recommendit.API/appsettings.json
/.vs/Recommendit/FileContentIndex
/Recommendit.Common/obj
/Recommendit.Common/bin
/Recommendit.DataRetriever/obj
/Recommendit.DataRetriever/bin

/.vs
/Recommendit.API/appsettings.json
